<div class="container">
    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-log-8 col-xl-6">
            <h1 class="col mx-auto">welcome to <i class="fas fa-book">Bookers!</i></h1>
        </col>
    </div>
</div>